*{ /*Selector universal para aplicarlo en toda la pagina*/
    box-sizing: border-box; /* Mantiene el tamaño de los elementos sin que el padding o border lo agranden */
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif; /*Cambia la fuente de toda la pagina*/
}
body{
    background-color: #e6eea8;
    
    
}

/*CLASES*/

/*ESTILO AL HEADER*/
.header {
    /*Menu Sticky*/
    position: sticky; /*Para que se quede flotando en la pagina*/
    top: 0; /*Define que el header este hasta arriba*/
    width: 100%;
    z-index: 1000;
    /*Elementos dentro del header*/
    color: white;
    background-color: #BED333; 
    border-bottom: 5px rgb(252, 244, 244) solid;
    height: 85px;
    padding: 10px 50px 10px 50px;
    display: flex; /*Para organizar los elementos*/
    flex-direction: row;
    align-items: center; /*Para alinear verticalmente*/
    transition: top 0.3s; /* Transición suave para aparecer/desaparecer */
    justify-content: space-between;
}
.header nav li {
    display: inline-block; /*Para que los elementos se pongan de manera horizontal*/
    padding: 0 20px;
}
.header nav ul li a {
    font-family: "Montserrat", serif;
    font-weight: 700;
    text-decoration: none; /*Le quita el subrayado al enlace*/
    color: white;
}
.cont-header {
    display: flex;
    flex-direction: row;
    z-index: 10;
    align-items: center;
}
/*----HEADER----*/

.index {
    color: white;
}

.toTop {
    display: none; /* Inicialmente oculto, se mostrará con JavaScript */
    position: fixed; /* Se mantiene en la misma posición mientras el usuario hace scroll */
    bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
    right: 20px; /* Distancia desde el lado derecho de la pantalla */
    padding: 10px 15px; /* Espaciado interno */
    background-color: #BED333; /* Color azul */
    color: white; /* Texto en color blanco */
    border: none; /* Elimina bordes */
    cursor: pointer; /* Muestra una mano al pasar el cursor */
    border-radius: 5px; /* Bordes redondeados */
}

/*ESTILOS FOOTER*/
.footer {
    display: flex;
    flex-direction: column; /*Coloca los contenedores en columna*/
    align-items: center; /*Centra horizontalmente los contenedores dentro del footer*/
    padding: 20px; /*Agrega espacio interior alrededor del contenido*/
    background-color: #000; /* Establece un fondo negro*/
    color: white; /*Define el color del texto en blanco*/
    gap: 10px; /*Agrega espacio vertical entre los elementos*/
  }
  .footer-links {
    display: flex; /*Hace que los enlaces estén en una fila horizontal*/
    justify-content: center; /*Centra los enlaces horizontalmente*/
    gap: 20px; /*Agrega separación horizontal entre los enlaces*/
  }
  .footer-links a {
    color: white; /*Color de los enlaces en blanco*/
    text-decoration: none; /*Elimina el subrayado de los enlaces*/
    transition: color 0.3s ease; /*Hace la animación del hover mas lenta*/
  }
  .footer-links a:hover {
    color: #4bca56; /*Cambia el color al pasar el mouse en el enlace*/
  }
  .footer-copy {
    margin: 0; /*Elimina el margen por defecto del párrafo*/
    font-size: 0.9rem; /*Tamaño de fuente ligeramente más pequeño*/
  }
  
/*---FOOTER----*/

/*IDENTIFICADORES*/

/*Menu hamburguesa*/
/* Estilos para el icono de menú */
.icon {
    margin: 40px 50px; /* margen de arriba y a la derecha/izquierda*/
    cursor: pointer;  /*indica que se puede clickear*/
    position: relative; /* posicion relativa*/
    z-index: 100; /*es una capa que se sobrepone sobre el 1 y 99 capas*/
}

/* Estilos para el contenedor del menú */
.cont-menu {
    background-color: rgb(42, 42, 42); 
    box-shadow: -2px 0px 5px 2px rgb(66, 66, 66); /*define la sombra del elemento*/
    width: 400px; /*ancho*/
    height: 100vh; /*altura que tomara de la pantalla*/
    position: fixed;  /* Cambiado de absolute a fixed */
    top: 0; /*no tiene distancia con el borde superior*/
    right: 0; /*no tiene distancia con el borde derecho*/
    transition: all 0.5s ease; /*Realiza una animacion que desplaza el menu*/
    transform: translateX(100%); /* Mueve el menú fuera de la pantalla a la derecha */
    z-index: 999; /*Para que este encima de los demas objetos*/
}

/* Cuando el menú está activo */
.active {
    transform: translateX(0); /*el menu no es desplazado y es totalmente visible*/
}

/* Opacidad cuando el menú está abierto */
/*Zona de pruebas*/
.opacity {
    background-color: rgba(0, 0, 0, 0.5); /*color de la opacidad al desplazar el menu*/
    transition: all 0.5s ease; /* animacion de transparencia al momento de abri el menu*/
}
/*Zona de pruebas*/

/*modifica propiedades de la lista*/
.cont-menu ul {
    padding: 100px 0 20px 0; /*margen interno*/
    list-style: none; /*elimina las viñetas o puntitios*/
}

/*apariencia para la lista de elementoss*/
.cont-menu ul li a{
    color: white;  /*color de la fuente*/
    display: block;  /*toma todo el ancho del elemento y se apila*/
    font-size: 25px; /*tamano de la fuente*/
    text-decoration: none; /*le quita los puntos*/
    padding: 10px 50px; /*margen interno*/
    cursor: pointer; /*evento al pasar el mouse*/
    transition: color 0.3s ease;
}
.cont-menu ul li a i{
    transition: color 0.3s ease;
}
.cont-menu ul li a:hover,
.cont-menu ul li a:hover i {
    color: rgb(4, 41, 4);
}

/*al pasar el mouse por la lista del menu*/
.cont-menu ul li:hover {
    background-color: rgb(228, 228, 228); /*cambia el color de fondo a blanco*/
    transition: color 0.3s ease;
}

/*Fin del menu hamburguesa*/

.externo{
    margin: 1% 5% ;
    border-radius: 20px;
    background-color: #e6ebbf;
    border: 3px #dfe2c3 solid;
}
.seccion{
    margin: 20px 50px 20px 50px;
    padding: 10px 30px 30px 30px;
    box-shadow: 0 0 15px rgba(145, 180, 196, 0.5);
    border-radius: 20px; /*Bordes mas suaves*/
    display: flex; /*Declara el flexbox*/
    flex-direction: row; /*Acomoda el texto y las imagenes en fila*/ 
}

.interno{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
}

.comencemos{
    margin: 4% 0%;
    text-align: center;
    font-size: 40px;
}

/*imagen de inicio*/

.imgmenu{
        width: 100%;
        height: 450px;
        background-image: url('../img/hassan-ouajbir-QN7EGG26xAw-unsplash.jpg');
        background-size: cover;
        background-position: center;
        
}

.txtmenu{

    position: absolute; /* Se posiciona sobre la imagen */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra completamente */
    color: white; /* Texto en color blanco */
    text-align: center; /* Texto alineado al centro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejorar la legibilidad sobre la imagen */
    font-size: 70px;
    font-weight: 600;
}

/*formulario*/

.formright{
    margin: 5% 5%;
}

/*forma del formulario*/
.inicio-container {
    margin: 2px 50px 3px 0px;
    background: #BED333; /*Fondo verde*/
    padding: 20px; /*Margen interno*/
    border-radius: 10px; /*Agrega bordes a las esquinas*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /*Agrega sombras*/
    text-align: center; /*Alinea el Texto*/
    width: 600px; /*Ancho del formulario*/
}

/*Modifica el titulo que dice iniciar sesion*/
.inicio-container h1 {
    margin-bottom: 20px; /*tiene una separacion en la parte de abajo*/
}

.input-field {
width: 100%; /*ancho maximo*/
padding: 10px; /*margen interno*/
margin: 10px 0; /*margen externo*/
border: 1px solid #ccc; /*borde de un pixel*/
border-radius: 5px; /*Borde de las esquinas del input*/
box-sizing: border-box; /*hace que no se combine el margen o width*/
background-color: #e6eea8;
 }

.input-field-special{
    width: 100%; /*ancho maximo*/
    padding: 10px; /*margen interno*/
    margin: 10px 0; /*margen externo*/
    border: 1px solid #ccc; /*borde de un pixel*/
    border-radius: 5px; /*Borde de las esquinas del input*/
    box-sizing: border-box; /*hace que no se combine el margen o width*/
    background-color: #e6eea8;
    height: 100px;
}

/*para que en donde se pone el comentario, no se pueda modificar el tamaño */
textarea {
    resize: none;
  }
  

 /*Boton de ingresar*/
.inicio-btn {
    width: 100%; /*ancho*/
    padding: 10px; /*margen interno*/
    background: black; /*color del boton*/
    color: white; /*letras blancas*/
    border: none; /*elimina el borde predeterminado del boton*/
    border-radius: 5px; /*agregaborde redondo*/
    cursor: pointer; /*hace referencia al momento de pasar el maus*/
    transition: background 0.3s; /*añade una animacion cuando pasas el maus*/
}
/*cambia el color de fondo del boton ingresar*/
.inicio-btn:hover {
    background: #003800;

}

.otros{
    margin: 50px 0px 0px 170px;
}

/*Redes sociales*/
/*Modifica los iconos de boostrap*/
.social-login {
    display: flex; /*alinea los iconos*/
    justify-content: center; /*centra los iconos en horizontal*/
    gap: 10px; /*añade espacio entre iconos*/
    margin-top: 15px; /*margen superior*/
    }
    /*modifica el <a> de los enlaces de los iconos*/
    .social-login a {
    display: flex; /*alinea los elementos en fila */
    align-items: center; /*alinea verticalmente los iconos*/
    justify-content: center; /*centra los enlaces de los iconos*/
    width: 40px; /*ancho*/
    height: 40px; /*altura*/
    border-radius: 50%; /*borde del icono*/
    color: white; /*cambia el color del icono*/
    font-size: 20px; /*tamaño de fuente*/
    text-decoration: none; /*elimina cualquier estilo que este predeterminado*/
    }

    .social-login :hover{
        color: #4bca56;
    }
    
    /*Color de los logos de inicio de sesion sacados de boostrap*/
    .youtube { background: #000; }
    .facebook { background: #000; }
    .twitter { background: #000; } 
    .instagram { background: #000; }


    .apilar{
        min-width: 260px;
    }

   .h1-size{
    font-size: 20px;
   }