.info { /*Estilo para el contenedor en donde se encuentra la info*/
    margin: 5vh 35vh 5vh 10vh;
    padding: 10px 10px 10px 30px;
    background-color: #e6ebbf;
    border: #dfe2c3 solid; /*Margen*/
    border-radius: 15px; /*Bordes redondos*/
}
.tit { /*Clase para hacer el titulo mas grane*/
    font-size: 1.5rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
}