*{ /*Selector universal para aplicarlo en toda la pagina*/
    box-sizing: border-box; /* Mantiene el tamaño de los elementos sin que el padding o border lo agranden */
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif; /*Cambia la fuente de toda la pagina*/
}
header {
    /*Menu Sticky*/
    position: sticky; /*Para que se quede flotando en la pagina*/
    top: 0; /*Define que el header este hasta arriba*/
    width: 100%;
    z-index: 1000;
    /*Elementos dentro del header*/
    color: white;
    background-color: #BED333; 
    border-bottom: 5px rgb(252, 244, 244) solid;
    height: 85px;
    padding: 10px 15px;
    display: flex; /*Para organizar los elementos*/
    justify-content: space-between; /*Para separar el título y el menú*/
    align-items: center; /*Para alinear verticalmente*/
}
header nav li {
    display: inline-block; /*Para que los elementos se pongan de manera horizontal*/
    padding: 0 20px;
}
header nav li a {
    font-family: "Montserrat", serif;
    font-weight: 700;
    text-decoration: none; /*Le quita el subrayado al enlace*/
}
body{
    background-color: #e6eea8;
}
section a { /*Para que los enlaces tengan efecto de boton*/
    padding: 10px 20px;
    background-color: #BED333;
    color: white;
    border-radius: 15px; /*Esquinas mas suaves*/
    display: inline-block; /*Para que se le pueda poner dimensiones*/
    transition: transform 0.1s ease, box-shadow 0.1s ease; /*Se ajusta la velocidad en que se va a hacer la animacion*/
}
section a:hover { /*Animacion del <a> al hacer clic*/
    transform: scale(0.95); /*Hace el boton mas pequeño*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*Hace una sombra al ponerse el mouse en el 'boton'*/
}
footer {
    display: flex; 
    flex-direction: column; /*Para que los contenidos se acomoden como una columna*/
    padding: 10px 0 10px 20px;
    background-color: black;
}
footer, a {
    text-decoration: none;
    color: white; /*Cambiar el color de los enlaces*/
}

/* CLASES */

.imagen { /*Hero del index*/
    /*Padding para acomodar el texto*/
    padding-top: 25%;
    padding-bottom: 25%;
    display: flex;
    align-items: center; /*Para que los contenidos se pongan en el centro*/
    justify-content: center; /* Alinear items en el centro */
    background-image: url(../img/Parcela1.webp);
    font-size: 30px;
    color: white;
    font-family: "Ubuntu", serif;
    background-size: cover; /*Cubre todo el div de la imagen*/
    background-position: center; /*Centra la imagen en el centro*/
}
.contenedor { /*Definir estilos de los contenedores*/
    background-color: #e6ebbf;
    margin: 20px 10% 20px 10%;
    padding: 30px 50px 10px 50px;
    font-size: 22px;
    border-radius: 20px; /*Bordes mas suaves*/
    padding-left: 40px;
    padding-right: 40px;
}
.seccion { /*Acomodar el texto dentro de las secciones*/
    border: #dfe2c3 solid;
    padding-left: 10%;
    padding-left: 5%;
}
.seccion, p { /*Acomodar el texto dentro de las secciones*/
    text-align: justify;
}
.beneficios-img{ /*Declarar dimensiones de la imagen*/
    background-size: cover; 
    background-position: center;
    height: 300px;
    width: 300px;
    border: 1px #27ae60 solid; /*Margen a la imagen*/
    border-radius: 15px;
    margin-left: 50px;
}
.beneficios { /*Dar estilo a los divisores*/
    margin: 20px 50px 20px 5px;
    padding: 30px 30px 30px 30px;
    box-shadow: 0 0 15px rgba(145, 180, 196, 0.5);
    border-radius: 20px; /*Bordes mas suaves*/
    display: flex; /*Declara el flexbox*/
    flex-direction: row; /*Acomoda el texto y las imagenes en fila*/
}
.beneficios-txt { /*Acomodar el texto dentro de los divisores*/
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
}
.est-img{ /*Estilo para el contenedor de 3 imagenes en la seccion de proyectos de innovacion*/
    height: 100%;
    width: 33.33%;
    border: 1px #27ae60 solid; /*Margen*/
    background-size: cover;
    background-position: center;
}

/* IDENTTIFICADORES */

#beneficios {
    display: flex; /*Para que los contenidos se puedan alinear*/
    align-items: center; /*Alinea los elementos al centro*/
    flex-direction: column; /*Para que los div se acomoden en columnas*/
    border: #dfe2c3 solid; /*Añade margen*/
}
#img-pro { /*Para declarar la manera en que se alinean las iamgenes*/
    height: 400px;
    width: 100%;
    display:flex;
    flex-direction: row;
}
#proyectos-secc{ /*Id para contenedor de los proyectos*/
    background-color: #e6ebbf;
    border: 2px #dfe2c3 solid;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 20px 10px 20px;
    font-size: 30px;
}


/*Menu hamburguesa*/
/* Estilos para el icono de menú */
.icon {
    margin: 40px 50px; /* margen de arriba y a la derecha/izquierda*/
    cursor: pointer;  /*indica que se puede clickear*/
    position: relative; /* posicion relativa*/
    z-index: 100; /*es una capa que se sobrepone sobre el 1 y 99 capas*/
}

/* Estilos para el contenedor del menú */
.cont-menu {
    background-color: rgb(42, 42, 42); 
    box-shadow: -2px 0px 5px 2px rgb(66, 66, 66); /*define la sombra del elemento*/
    width: 400px; /*ancho*/
    height: 100vh; /*altura que tomara de la pantalla*/
    position: fixed;  /* Cambiado de absolute a fixed */
    top: 0; /*no tiene distancia con el borde superior*/
    right: 0; /*no tiene distancia con el borde derecho*/
    transition: all 0.5s ease; /*Realiza una animacion que desplaza el menu*/
    transform: translateX(100%); /* Mueve el menú fuera de la pantalla a la derecha */
}


/* Cuando el menú está activo */
.active {
    transform: translateX(0); /*el menu no es desplazado y es totalmente visible*/
}

/* Opacidad cuando el menú está abierto */
/*Zona de pruebas*/
.opacity {
    background-color: rgba(0, 0, 0, 0.5); /*color de la opacidad al desplazar el menu*/
    transition: all 0.5s ease; /* animacion de transparencia al momento de abri el menu*/
}
/*Zona de pruebas*/

/*modifica propiedades de la lista*/
.cont-menu ul {
    padding: 100px 0 20px 0; /*margen interno*/
    list-style: none; /*elimina las viñetas o puntitios*/
}

/*apariencia para la lista de elementoss*/
.cont-menu ul li {
    color: white;  /*color de la fuente*/
    display: block;  /*toma todo el ancho del elemento y se apila*/
    font-size: 25px; /*tamano de la fuente*/
    text-decoration: none; /*le quita los puntos*/
    padding: 10px 50px; /*margen interno*/
    cursor: pointer; /*evento al pasar el maus*/
}

/*al pasar el maus por la lista del menu*/
.cont-menu ul li:hover {
    background-color: rgb(228, 228, 228); /*cambia el color de fondo a blanco*/
    color: rgb(42, 42, 42); /*cambia el color del texto*/
}

/*Fin del menu hamburguesa*/