.proyectos-secc{ /*Estilo para los contenedores de proyectos*/
    padding-bottom: 20px;
    padding-right: 20px;
    width: 90%;
}
.proyectos-secc p,
.proyectos-secc a{ /*Ajustar fuente*/
    font-size: 20px;
    text-decoration: none;
    color: black;
    line-height: 1.5;
}

#proyectos-secc{ /*Id para contenedor de los proyectos*/
    position: relative;
    display: flex; /*Para organizar los elementos dentro*/
    flex-direction: column; /*Para que los elementos se acomoden como columna*/
    background-color: #e4e6d7; /*Color del fondo*/
    border: 2px #dfe2c3 solid; /*Margen*/
    padding: 20px 50px 20px 50px;
    margin: 10px 70px 10px 70px;
    font-size: 30px;
    border-radius: 20px;
    z-index: 10;
}
#proyectos-secc h2 { /*Estilos a los titulos*/
    font-size: 25px;
    align-content: end;
    justify-content: end;
    padding-top: 20px;
}