#nosotros {
    margin: 5vh auto;
    width: 90%;
    padding: 2rem 1.5rem;
    background-color: #e4e6d7; /*Color dentro*/
    border: #dfe2c3 solid; /*Bordes*/
    border-radius: 15px; /*Bordes suaves*/
}
.tit {
    font-weight: bold;
    font-size: 25px;
}
.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: url(../img/fresas.jpg);
    background-repeat: no-repeat;
    background-position: center;
}